*{ /* Configurações padrões de inicio de um projeto dentro do CSS*/
margin: 0;
padding: 0;
vertical-align: baseline;
list-style: none;
font-family: Segoe UI, Roboto, Helvetica, Arial, sans-serif;
}

header{
    display: flex; /*Responsável por colocar os itens na mesma linha (lado a lado)*/
    align-items: center; /*Alinhar os itens do nosso Header para o centro */
    justify-content: space-evenly; /*Tradução: justificar-conteúdo:espaço iniformimente. Alinhar os itenss igualmente dentro da pagina*/
    padding: 15px; /*Cuida do preenchimento*/
    background-color: rgb(85,48,6); /*Cor de fundo do nosso cabeçalho/Header*/
    overflow: hidden; 
    line-height: 200px; /*Altura da linha*/
    max-height: 200px; /*Altura máxima*/
}

header > h1 { /*Selecionamos aqui a cor da letra do nosso H1 pu seja, do nosso título*/
  color: white; /*chamamos a propriedade color e definimos uma cor em questão*/
}

header > img { /*Nosso menu de navegação*/
 width: 200px; /*Largura da nossa imagem*/
 height: 200px; /*Tamanho da nossa imagem*/
}

 #menu-hearder { /*Mosso menu de navegação*/
  display: flex; /*Responsável por colocar os itens na mesma linha (lado a lado)*/
  align-items: center; /*Alinhar os itens do nosso Header para o centro*/
 }

 #list-menu {/*Nossa lista não ordenada, aqui mudaremos diretamente nossa lista*/
 display:flex; /*Responsável por colocar os itens na mesma linha (lado a lado)*/
 margin-right: 1rem; /*Marge, da direia. 1 REM equivale a 16px, ou seja podemos usa-lo para inserção do px*/
}

.item-menu-header { /*Nossas li que estão dentro do LIST MENU. (a) nossa tag de linha*/
 margin-right: 25px; /*margem da direita*/
}

.item-menu-header > a:hover{/*Nossas li que estão dentro do LIST MENU. (a)nossa tag de linha */
 color: yellow; /*Aqui atribuimos uma cor*/
 transition:1s; /*É o tempo em que será exibido ao passar o cursar*/
}

.item-menu-header > a { /*Nossas li que estão dentro do LIST MENU. (a) nossa tag de link que é*/
 color:white ; /*Cor das letras*/
 text-decoration: none; /*Responsavel por tirar o sublinhado inferior que esteve vísivel*/
 font-size: 12px; /*Tamanho da letra*/
}

#btn-header{ /*Nossa ID do botão login*/
 display: flex; /*Responsavel por colocar os itens na mesma linha (lado a lado)*/
}

#btn-header > button { /*Aqui chamamos nosso ID e onde queremos fazer alterações, no caso o nosso*/
   padding: 8px; /*cuida do preemchimento*/
   background-color: transparent; /*aqui deixamos o fundo do botão transparente , ou seja sem o*/
   border: none; /*Nome é usado para retirar algo, nesse caso a borda*/
}

#btn-header > button > a{ /*Estamos chamando aqui nossa TAG de link para alteração.*/
   display: flex; /*Responsavel por colocar os itens na mesma limha (lado a lado)*/
   align-items: center; /*Alinhar os itens para o centro*/
}

#btn-header > button > a > img{ /*Aqui estamos mexendo no ICON do botão */
   width: 30px; /*Largura*/
   height: 30px; /*Tamanho*/
   margin-right: 2px; /*Margem da direita*/
}

#img-destaque { /*Aqui chamamos a ID que chamamos no HTML*/
  padding: 260px; /*Cuida do preenchimento*/
  background-image: url(imagens/padaria.webp);/*Usada para inserir imagens de fundo*/
  background-position: center;/*Aqui posicionamos nossa imagem para o centro*/
}

.img-div { /*aqui chamamos nossa class para alteração*/
  padding: 25px; /*cuida do preenchimento*/
  background-image: url(imagens/img-div.jpg); /*usado para inserir imagens de fundo */
  background-position: center; /*aqui posicionamos imagem para oo centro*/
  background-size: auto; /*background-size: especifica o tamanho das imagens*/
}

 