*{ /* Configurações padrões de inicio de um projeto dentro do CSS*/
margin: 0;
padding: 0;
vertical-align: baseline;
list-style: none;
font-family: Segoe UI, Roboto, Helvetica, Arial, sans-serif;
}

header{
    display: flex; /*Responsável por colocar os itens na mesma linha (lado a lado)*/
    align-items: center; /*Alinhar os itens do nosso Header para o centro */
    justify-content: space-evenly; /*Tradução: justificar-conteúdo:espaço iniformimente. Alinhar os itenss igualmente dentro da pagina*/
    padding: 15px; /*Cuida do preenchimento*/
    background-color: rgb(85,48,6); /*Cor de fundo do nosso cabeçalho/Header*/
    overflow: hidden; 
    line-height: 200px; /*Altura da linha*/
    max-height: 200px; /*Altura máxima*/
}

header > h1 { /*Selecionamos aqui a cor da letra do nosso H1 pu seja, do nosso título*/
  color: white; /*chamamos a propriedade color e definimos uma cor em questão*/
}

header > img { /*Nosso menu de navegação*/
 width: 200px; /*Largura da nossa imagem*/
 height: 200px; /*Tamanho da nossa imagem*/
}

 #menu-hearder { /*Mosso menu de navegação*/
  display: flex; /*Responsável por colocar os itens na mesma linha (lado a lado)*/
  align-items: center; /*Alinhar os itens do nosso Header para o centro*/
 }

 #list-menu {/*Nossa lista não ordenada, aqui mudaremos diretamente nossa lista*/
 display:flex; /*Responsável por colocar os itens na mesma linha (lado a lado)*/
 margin-right: 1rem; /*Marge, da direia. 1 REM equivale a 16px, ou seja podemos usa-lo para inserção do px*/
}

.item-menu-header { /*Nossas li que estão dentro do LIST MENU. (a) nossa tag de linha*/
 margin-right: 25px; /*margem da direita*/
}

.item-menu-header > a:hover{/*Nossas li que estão dentro do LIST MENU. (a)nossa tag de linha */
 color: yellow; /*Aqui atribuimos uma cor*/
 transition:1s; /*É o tempo em que será exibido ao passar o cursar*/
}

.item-menu-header > a { /*Nossas li que estão dentro do LIST MENU. (a) nossa tag de link que é*/
 color:white ; /*Cor das letras*/
 text-decoration: none; /*Responsavel por tirar o sublinhado inferior que esteve vísivel*/
 font-size: 12px; /*Tamanho da letra*/
}

#btn-header{ /*Nossa ID do botão login*/
 display: flex; /*Responsavel por colocar os itens na mesma linha (lado a lado)*/
}

#btn-header > button { /*Aqui chamamos nosso ID e onde queremos fazer alterações, no caso o nosso*/
   padding: 8px; /*cuida do preemchimento*/
   background-color: transparent; /*aqui deixamos o fundo do botão transparente , ou seja sem o*/
   border: none; /*Nome é usado para retirar algo, nesse caso a borda*/
}

#btn-header > button > a{ /*Estamos chamando aqui nossa TAG de link para alteração.*/
   display: flex; /*Responsavel por colocar os itens na mesma limha (lado a lado)*/
   align-items: center; /*Alinhar os itens para o centro*/
}

#btn-header > button > a > img{ /*Aqui estamos mexendo no ICON do botão */
   width: 30px; /*Largura*/
   height: 30px; /*Tamanho*/
   margin-right: 2px; /*Margem da direita*/
}

#btn-header > button > a {
  color: white;
  text-decoration: none;
  font-weight: 400;
}

#img-destaque { /*Aqui chamamos a ID que chamamos no HTML*/
  padding: 260px; /*Cuida do preenchimento*/
  background-image: url(imagens/padaria.webp);/*Usada para inserir imagens de fundo*/
  background-position: center;/*Aqui posicionamos nossa imagem para o centro*/
}

.img-div { /*aqui chamamos nossa class para alteração*/
  padding: 25px; /*cuida do preenchimento*/
  background-image: url(imagens/img-div.jpg); /*usado para inserir imagens de fundo */
  background-position: center; /*aqui posicionamos imagem para oo centro*/
  background-size: auto; /*background-size: especifica o tamanho das imagens*/
}

 main > section > h2 { /*Aqui estamos chamando nosso H2 para estilização*/
   margin-top: 0px; /*Indica o espaço acima do elemento/superior*/
   font-size: 36px; /*Tamanho da letra*/
   text-align: center; /*Alinhando o texto para o centro*/
   color: #000000;  /*cor da letra do nosso h2*/
  }

  #clients { /*Aqui chamamos nossa ID da section*/
    background-color: white; /*Cor de fundo da nossa section*/
    margin-top: 0; /*Indica o espaço acima do elemento / superior*/
    padding: 50px;/*Cuida do preenchimento*/
  }

  .line { /*Aqui chamamos nossa class que esta dentro do nosso HR, que é utilizado como uma quebra de linha*/
    margin: 0 auto;/*Definimos em 0 a margin e colocamos para auto*/
    width: 20px; /*Largura*/
  }

  #clients-list { /*Aqui chamamos nossa ID*/
    display: flex;/*Responsavel por colocar os itens na mesma linha (lado a lado)*/
    align-items: center; /*Alinhar os itens para o centro*/
    justify-content: space-evenly; /*Tradução:justificar-conteúdo: espaço uniformemente.Alinhar os itens igualmente dentro da página*/
    margin-top: 30px; /*Indica o espaço acima do elemento/superior*/
  }

  .clients-item { /*aqui chamamos nossa class que esta dentro da nossa id*/
    display: flex;/*Responsavel por colocar os itens na mesma linha*/
    justify-content: center; /*Justifica-conteudo no centro*/
    align-items: center;/*alinhar os itens para o centro*/
    flex-direction: column; 
  }

  .clients-item > img { /*aqui chamamos nossa Tag IMG pra estilização*/
    width: 84px; /*largura*/
    height: 84px;/*Tamanho*/
  }

  .clients-item > h3{ /*aqui chamamos nosso h3 para estilizar*/
    font-family: 'Dancing Script', cursive; /*fonte escolhida*/
    font-size: 32px; /*tamanho da fonte*/
    align-items: center; /*Alinhar os itens para o centro*/
    margin-top: 10px; /*indica o espaço acima do elemento/superior*/
  }

  .clients-item > p {
    font-family: 'Dancing Script', cursive; /*fonte escolhida*/
    font-size: 26px; /*tamanho da fonte*/
    margin-top: 10px; /*indica o espaço acima do elemento/superior*/
    align-items: center; /*Alinhar os itens para o centro*/
  }

 #featured-products {/*ID usada para a section dos nossos produtos*/
  background: linear-gradient(180deg, #F4CEAF 8,33%, rgba(244,200,175,0) 100%);
  padding: 30px; /*Preenchimento*/
 }

 .products { /*Aqui chamamos nossa class dos produtos para estilização*/
  margin-top: 3em; /*Indica o espaço acima do elemento / superior*/
  display: flex; 
  align-items: center;
  justify-content: space-evenly;
 }

 .img-product {
  width: 300px;
  height: 300px;
  border-radius: 50px; /*estilo arrendodado das bordas*/
 }

 .title-products {
  margin-top: 10px;
  font-family: 'Ubuntu', 'sans-serif';
  text-align: center;
  font-size: 22px;
 }

 #featured-products > a {
  text-decoration: none;
  font-family: 'ubuntu' 'sans-serif';
  font-size: 20px;
  color: red;
 }

 #featured-products > a:hover {
  text-decoration: underline;
  font-size: 22px;
  transition: 1s;
 }

 #sobre-nos{
  background-image: url(imagens/fundo-sobre-nos.jpg);
  background-repeat: no-repeat; /*Aqui colocamos a função para a imagem não ser repetida*/
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  padding: 120px;
 }

 #sobre-nos > h3 {
  color: white;
  font-size: 64px;
  text-align: center;
  font-family: 'Ubuntu', 'sans-serif';
 }

 #sobre-nos > p {
  font-family: 'Ubuntu', 'sans-serif';
  font-weight: 500;
  color: white;
  font-size: 22px;
  margin-top: 2em;
  text-align: left;
 }

 footer {
  padding: 80px;
  background-image: url(imagens/img-footer.jpg);
  background-position: bottom;
  background-repeat: no-repeat;
 }

 footer > ul {
  display: flex;
  justify-content: space-evenly;
 }

 footer > h2 {
  color: black;
  font-size: 40px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 1em;
 }

 .item-menu-footer {
  display: flex;
  align-items: center;
  margin-top: 30px;
 }

 .item-menu-footer > img {
  width: 34px;
  height: 34px;
 }

 .item-menu-footer > p {
  color: black;
  font-size: 24px;
  font-weight: bold;
  margin-left: 10px;
 }